@model CompanySettings

@{
    ViewData["Title"] = "Company Details";
}

<h2>Welcome to the Company!!</h2>
<hr />
<h4>Name : @Model.Name</h4><br />
<h4>Email : @Model.Email</h4><br />
<h4>Contact Number : @Model.Contact</h4><br />
